h1{
    border-top-style: dotted;
    border-bottom-style: double;
    border-left-style: dashed;
    border-left-width: 10px;
    border-left-color: silver;
}
p{
    border-style: dashed;
    border-width: 5px;
    border-color: gold;
    border-radius: 10px;
    padding: 5px;
}